<div class="main-page-container">
    <h1 class="main-page-title">Welcome to the best phone shop ever</h1>
    <div class="main-page-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis ex et sem pretium fermentum.
        Cras fringilla convallis nisi. In a lobortis erat, ac venenatis risus. Suspendisse venenatis dolor lorem.
        Maecenas lobortis nibh non tortor imperdiet tincidunt. Proin vel quam maximus, sagittis nibh sed, venenatis
        felis. Nullam urna odio, imperdiet eu suscipit at, accumsan eu lacus. Cras feugiat, neque ut vestibulum
        suscipit, ante diam congue turpis, sit amet vehicula diam ipsum in dui. Duis scelerisque quam vitae lacus
        lobortis blandit. Vestibulum pharetra vestibulum turpis id feugiat. Donec convallis volutpat enim, ut
        luctus est dictum nec. Vivamus magna felis, lobortis sit amet ex mattis, mollis vulputate orci. Sed
        porttitor efficitur lacinia.

        Duis posuere dictum auctor. Duis suscipit magna in sem consectetur ornare. Maecenas ut egestas leo.
        Nam tempus, arcu eu lobortis posuere, elit nulla bibendum felis, in malesuada nunc mi nec diam. Mauris
        blandit nisi tellus, id rhoncus odio accumsan hendrerit. Phasellus a turpis porttitor, cursus velit sit
        amet, tempor metus. Vestibulum bibendum quam ac lorem tempus maximus. Cras tincidunt, nulla eget rhoncus
        semper, magna dolor suscipit diam, at tincidunt erat neque molestie purus. Donec enim justo, convallis in
        porta at, elementum eu sem. Phasellus finibus sit amet erat eu lobortis. Fusce sagittis, enim et convallis
        luctus, justo mi volutpat ipsum, eget blandit arcu risus in nulla. Etiam iaculis venenatis leo, sed
        scelerisque eros molestie ut. In ut libero eros. Suspendisse laoreet pharetra est, a gravida magna aliquet
        eget. Aenean dictum sem nec enim fermentum condimentum. Nunc aliquam in ex eget dictum.
    </div>
</div>